/* Make the loader fill the entire screen */
#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000f5; /* You can change the background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1.5s ease-out;
    
  }
  
  /* Stamping animation for loader GIF */
  @keyframes stamping {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  /* Applying stamping animation to the loader GIF */
  #loader img {
    animation: stamping 0.6s ease-out forwards;
    filter:contrast(200%), saturate(200%);
    border-radius: 50%;
  }
  
  /* Hide the content initially */
  .hidden {
    display: none;
  }
  
  /* Fade-out effect */
  .fade-out {
    opacity: 0;
    transition: opacity 1.5s ease-out;
  }
  
  

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
    font-family: 'font-1';
    src: url(./fonts/Luvertown\ Personal\ Use\ Only.ttf);

}
@font-face {
    font-family: 'font-2';
    src: url(./fonts/moenstrum..ttf);

}
@font-face {
    font-family: 'font-3';
    src: url(./fonts/brains_courage/Brains\ Courage\ Demo.otf);

}
@font-face {
    font-family: 'font-4';
    src: url(./fonts/coffee_soda/Coffee\ Soda.ttf);

}
@font-face {
    font-family: 'font-5';
    src: url(./fonts/sportfield_varsity/Sportfield\ Varsity-Grunge.otf);

}
@font-face {
    font-family: 'font-6';
    src: url(./fonts/stanford_breath/Stanford_Breath.ttf);

}
@font-face {
    font-family: 'font-7';
    src: url(./fonts/vintage_brush/VintageBrush.ttf);

}
@font-face {
    font-family: 'font-8';
    src: url(./fonts/huntgraphy/Huntgraphy.otf);

}
@font-face {
    font-family: 'font-9';
    src: url(./fonts/short_plan/Short\ Plan.ttf);

}
@font-face {
    font-family: 'font-10';
    src: url(./fonts/showdex/Showdex.otf);

}
@font-face {
    font-family: 'font-11';
    src: url(./fonts/hojlund/Hojlund\ -\ Personal\ Used.otf);

}

/* basic */

*{
    
    /* background-color: black !important; */
    color: white !important;
}

html{
    /* font-size: 62.5%; */
}
body{
    background-color:#382e28!important;

}
.navbar{
    position:fixed !important;
    top: 0;
    width: 100%;
    transition: top 0.1s; /* Smooth transition */
    color: white !important;
    font-family: 'EB Garamond', system-ui;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: rgba(0, 0, 0) !important;
    overflow: hidden !important;
    height: 100px !important;
    z-index: 1000;
    background-attachment: fixed;
    
}
.container{
    background-color: transparent !important;
}
.navbar-brand{
    max-width: 150px !important; 
    
    filter:saturate(100%);
    border-radius: 50%;
    
    & .d-inline-block {
        height: 120px !important; 
        width: 120px !important; 
        /* padding-top: 3%; */
        
    }
    img{

        /* max-width: 150; */
        transition: all 0.3s ease-in-out;
        &:hover{
            content: url(./Images/logo/logo.gif);
            border-radius: 50%;
            /* padding-top: 3%; */
            transform: scale(1.1);
            width: 125px !important;
            height: 125px !important;
        }
    }
}
.collapse {
    
    
    & .navbar-nav{
        gap: 2rem;
        
    }
    
}
.nav-item{
  background-color: transparent !important;           
}
.nav-link{
    color: white !important;
    font-family: 'EB Garamond', system-ui;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    background-color: transparent !important;
    &:hover{
        color:#9a8478 !important;
        transform: scale(1.1);
    }
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #9a8478;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    &:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}
.dropdown-menu{
    border-color: aliceblue !important;
}
.dropdown-item{
    /* background-color: aliceblue !important; */
    color:rgb(255, 255, 255) !important;
    font-size: 1.3rem;
    font-weight: 600;

    &:hover{
        color:#9a8478 !important;
        font-size: 1.42rem;
        background-color: transparent !important ;
    }

}
.active{
    color:#9a8478 !important;
    font-weight: 900;
    font-size: 1.8rem;
    
}
.form-control{
    border-color:#9a8478 !important ;
    color: white !important;
    text-align: center;
    background-color: transparent !important;
    width:10rem;
    border-radius: 25px;
    &:hover{
        border-color:#9a8478 !important ;
        width:15rem;
        transform: scale(1.1);
    }
    &:focus {
        outline: none; /* Remove the default blue outline */
        width:15rem;

        border-color: #9a8478; /* Change the border color when focused */
        box-shadow: 0 0 5px #9a8478; /* Add custom shadow color on focus */
    }
    
    
}

.btn{
    background-color: #9a8478!important;
    color: white !important;
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
    &:hover{
        background: #DAE2F8; /* Fallback for older browsers */
        background: -webkit-linear-gradient(to left, #D6A4A4, #DAE2F8); /* For Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #D6A4A4, #DAE2F8); /* For modern browsers */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-weight: 600 !important;
        border-color: #9a8478!important;
    }
    &:focus {
        outline: none; /* Remove the default blue outline */
        border-color: #9a8478; /* Change the border color when focused */
        box-shadow: 0 0 5px #9a8478; /* Add custom shadow color on focus */
    }
    
}
/* Hide all divs initially */
div {
    opacity: 0;
    transform: translateY(30px); /* Adjust to your preference */
    animation-fill-mode: forwards; /* Keep the final state after animation */
}

/* Animation keyframes for stacking effect */
@keyframes stackEffect {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Class to trigger animation */
.visible {
    animation: stackEffect 0.5s ease-in-out forwards;
}


/* Hero section */
main{
    
    & .hero-1{
        background: #1e130c !important;
        background: -webkit-linear-gradient(to right,  #9a8478,#1e130c,) !important;
        background: linear-gradient(to right, #9a8478,#1e130c ) !important;
        padding-bottom: 1.5%;
        padding-top: 4.5%;
    }
    & .hero-1_heading{
        font-family: 'font-10';
        font-size: 3.5rem;
        font-weight: 400 !important; 
        background: #DAE2F8; /* Fallback for older browsers */
        background: -webkit-linear-gradient(to left, #D6A4A4, #DAE2F8); /* For Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #D6A4A4, #DAE2F8); /* For modern browsers */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        & .hero-1_sm_heading{
            font-size: 3.2rem !important;
            
            
        }
        &:hover{
            text-decoration:underline;
            text-decoration-color: #f6f5f4bc;
            position: relative;
            animation: floating 3s ease-in-out infinite;

        }

    }

    /* Hero-2 */
    & .hero-2{
        padding-bottom: 1%;
        /* padding-top: 1%; */
        background: #1e130c !important;
        background: -webkit-linear-gradient(to right,  #9a8478,#1e130c,) !important;
        background: linear-gradient(to right, #9a8478,#1e130c ) !important;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        & .hero-2-div{
            padding-bottom: 1%;
            position: relative;
            background-color: rgba(36, 36, 36, 0.444);
                & .custom-shape-divider-top-1727281220 {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        overflow: hidden;
                        line-height: 0;
                    }

                    & .custom-shape-divider-top-1727281220 svg {
                        position: relative;
                        display: block;
                        width: calc(181% + 1.3px);
                        height: 90px;
                        transform: rotateY(180deg);
                    }

                    & .custom-shape-divider-top-1727281220 .shape-fill {
                        fill: #21212471;
                    }
        }
        
        
        
        & ol,ul{
             
            padding-left:0%;
         }
         
    }
       
        
    & .lead{
        font-family: 'sans-serif';
        font-weight: 200 !important; 
        color:white !important;
        background: #DAE2F8; /* Fallback for older browsers */
        background: -webkit-linear-gradient(to left, #D6A4A4, #DAE2F8); /* For Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #D6A4A4, #DAE2F8); /* For modern browsers */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 1.5rem !important;

        
        
        
    }
    
    
    & .typed-text{
        font-family: 'sans-serif';
        font-weight: 200 !important; 
        color:white !important;
        background: #DAE2F8; /* Fallback for older browsers */
        background: -webkit-linear-gradient(to left, #D6A4A4, #DAE2F8); /* For Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #D6A4A4, #DAE2F8); /* For modern browsers */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

    }

       
    
}

.hero-2_heading{
            padding-top: 7%;
            font-family: 'font-10';
            font-size: 3.5rem;
            font-weight: 400 !important; 
            background: #DAE2F8; /* Fallback for older browsers */
            background: -webkit-linear-gradient(to left, #D6A4A4, #DAE2F8); /* For Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #D6A4A4, #DAE2F8); /* For modern browsers */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            text-decoration:underline;
            text-decoration-color: #f6f5f4bc;
            position: relative;
            animation: floating 3s ease-in-out infinite;
        }
        @keyframes floating{
            0% {
                transform: translateY(0);
            }
            25% {
                /* transform: translateY(-10px); */
                text-decoration: none;
            }
            50% {
                transform: translateY(-20px);
            }
            100% {
                transform: translateY(0);
            }
        }   